<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Current Conditions</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    {{#if currentUser}}
    <a href="/logout">Logout</a>
    {{else}}
    <div class="nav"><a href="/users/new">Create User Account</a></div><div class="nav"><a href="/spots/index">Select Favorite Spots</a></div><div class="nav"><a href="/users/{{currentUser.id}}">My Spots</a></div>
    <div class="nav"><a href="/users/login">Login</a></div>
    {{/if}}
    <main class="container">
      {{{ body }}}
    </main>
  </body>
  <footer>
    Made by Jack Grossman
  </footer>
</html>