.container {
    width: 100%;
}

.second-slider {
    font-family: 'Roboto Mono', monospace;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);    
    font-size: 18px;
    color: black;
    width: 100%;
    height: 500px;
    padding: 20px;
    background-image: url('https://cdn0.iconfinder.com/data/icons/hand-conversation/91/Hand_17-512.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;


}
form {
    width: 100%;
    height: 400px;
    background-color: rgba(107, 182, 235, 0.4);
    font-family: 'Robot Mono', monospace;
    color: black;
}

.backgroundimage {
    width: 100%;
    height: 500px;
    padding: 20px;
    background-image: url('https://d3n32ilufxuvd1.cloudfront.net/56f1bc76fd71ff8b66c3eca9/1036092/upload-e7be7ba0-4446-11e8-bc5e-65bbe6a92450.jpg');
    /* background-image: url('https://cdn.surfer.com/uploads/2014/04/54.6-DAY-1280x1024.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.navcontainer {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    color: white;
    background-color: #f8cb76;
    text-decoration: none;
}

.navcontainer a {
    font-family: 'Roboto Mono', monospace;
    text-decoration:none;
    color: #4083c1;
    /* text-shadow: -1px 0 lightgreen, 0 1px lightgreen, 1px 0 lightgreen, 0 -1px lightgreen; */
    /* transform: scale(1,1); */
}

.nav:hover {
    /* transform: scale(1.01, 1.01); */
    border-bottom: solid 2px #4083c1;  
}

#map {
    align-items: center;
    width: 100%;
    height: 800px;
    border: solid 1.5px white;
}

.slider {
    position: relative;
    text-align: left;
    top: 2%;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.row {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
    padding: 20px 20px;
    width: 50%;
    height: 50%;
    background-color: rgba(107, 182, 235, 0.4);
}

.signup{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
}

.btn {
    background-color: lightgreen;
    font-family: 'Roboto Mono', monospace;
    color: white;
}
.headerimg {
    display: flex;
    justify-content: center;
}
#spotsmap {
    width: 100%;
    height: 400px;
}
.glyphicon {
    font-size: 20px;
}
.fav {
    width: 800px;
    height: 400px;
    background-color: #FFFFF0;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}
.flat {
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: slategray;
    padding: 1px 2px;
}

.verypoor {
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: #5f211e;
    padding: 1px 2px;
}

.poor {
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: #5f211e;
    padding: 1px 2px;
}
.fair {
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: #182d72;
    padding: 1px 2px;

}
.good {
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: #295332;
    padding: 1px 2px;
}
.t-font {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 14px;
    color: #1c1c1c;
    padding: 1px 2px;

}
.rat {
    width: 100%;
}
.h-font {
    border-bottom: 1px solid black;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    color: #1c1c1c;
    padding: 1px 2px;
}
.fonts {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: #1c1c1c;
    padding: 1px 2px;
}
#bigmap{
    align-items: center;
    width: 100%;
    height: 800px;
    border: solid 1.5px white;
}
button {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    outline: none;
    border: 1px solid black;
    justify-content: center;
    width: 100%;
}
button:active {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-decoration: none;
    background-color: green;
    color: white;
    outline: none;
    border: 1px solid black;
    justify-content: center;
    width: 100%;
}

footer {
    font-family: 'Roboto Mono', monospace;
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
    background-color: #f8cb76;
    text-decoration: none;
}

.redman_1bar {
    background-image: url("./img/sprites.png");
    background-position: -20px -537px;
    width: 19px;
    height: 20px;
}
.greenman_1bar {
    background-image: url("./img/sprites.png");
    background-position: -391px -503px;
    width: 19px;
    height: 20px;
}
.staticb {
    width: auto;
    height: auto;
    background-image: url('https://d3n32ilufxuvd1.cloudfront.net/56f1bc76fd71ff8b66c3eca9/1000773/upload-7761b620-24ab-11e8-b06f-013e2b5342c9.jpg');
    /* background-image: url('https://cdn.surfer.com/uploads/2014/04/54.6-DAY-1280x1024.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);


}