.backgroundimage {
    width: auto;
    height: 500px;
    padding: 20px;
    background-image: url('https://cdn.surfer.com/uploads/2014/04/54.6-DAY-1280x1024.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.navcontainer {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    color: white;
    background-color: #f8cb76;
    text-decoration: none;
}

.navcontainer a {
    font-family: 'Roboto Mono', monospace;
    text-decoration:none;
    color: #4083c1;
    /* text-shadow: -1px 0 lightgreen, 0 1px lightgreen, 1px 0 lightgreen, 0 -1px lightgreen; */
    /* transform: scale(1,1); */
}

.nav:hover {
    /* transform: scale(1.01, 1.01); */
    border-bottom: solid 2px #4083c1;  
}

#map {
    align-items: center;
    width: 100%;
    height: 800px;
    border: solid 1.5px white;
}

.slider {
    position: relative;
    text-align: center;
    top: 50%;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.row {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
    padding: 20px 20px;
    width: 50%;
    height: 50%;
    background-color: rgba(107, 182, 235, 0.4);
}

.signup{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
}

.btn {
    background-color: lightgreen;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.auth-form {
    font-family: 'Roboto Mono', monospace;
    font-size: 2px;
}
.headerimg {
    display: flex;
    justify-content: center;
}
#spotsmap {
    width: 100%;
    height: 400px;
}
.glyphicon {
    font-size: 20px;
}
.fav {
    width: 800px;
    height: 400px;
    background-color: #FFFFF0;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}
.flat {
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: slategray;
    padding: 1px 2px;
}

.verypoor {
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: #5f211e;
    padding: 1px 2px;
}

.poor {
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: #5f211e;
    padding: 1px 2px;
}
.fair {
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: #182d72;
    padding: 1px 2px;

}
.good {
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: #295332;
    padding: 1px 2px;
}
.fonts {
    font-family: 'Roboto Mono', monospace;
    color: #1c1c1c;
    padding: 1px 2px;
}
#bigmap{
    align-items: center;
    width: 100%;
    height: 800px;
    border: solid 1.5px white;
}
button {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    outline: none;
    border: 1px solid black;
    justify-content: center;
    width: 100%;
}
button:active {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-decoration: none;
    background-color: green;
    color: white;
    outline: none;
    border: 1px solid black;
    justify-content: center;
    width: 100%;
}
.redman_1bar {
    background-image: url("./img/sprites.png");
    background-position: -20px -537px;
    width: 19px;
    height: 20px;
}
.greenman_1bar {
    background-image: url("./img/sprites.png");
    background-position: -391px -503px;
    width: 19px;
    height: 20px;
}