<body>
{{!-- make main a div / give a container class / put flex stuff on the container class --}}
<div class="navcontainer">
    <div class="nav"><a href="/users/new">Create User Account</a></div><div class="nav"><a href="/spots">Select Favorite Spots</a></div><div class="nav"><a href="/users/my_favorite_spots">My Spots</a></div>
    <div class="nav"><a href="/users/login">Login</a></div>
</div>
<div class="backgroundimage">
<div class="slider">All the Forecasts for Your Surf Spot</div>
</div>
<div id='map'></div>
<script src="js/map.js"></script>
</body>
</html>