<ul class="allspots">
<div><h3>Favorite Spot 1 Name</h3><div>Spot Rating<div></div>
<div><h3>Favorite Spot 2 Name</h3><div>Spot Rating<div></div>
<div><h3>Favorite Spot 3 Name</h3><div>Spot Rating<div></div>
<div><h3>Favorite Spot 4 Name</h3><div>Spot Rating<div></div>
</ul>
